<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<html>
  <head>
    <title>BudgetApp</title>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="d-flex justify-content-between align-items-center">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <% if user_signed_in? %>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to  "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <h1 class="text-center">
        BudgetApp
      </h1>
    </header>
    <div class="main-wrapper">
      <%= yield %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
  </body>
</html>
